<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
      Here are your orders
    </p>
    <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |item| %>
          <tr>
            <td>
              <%= item %>
            </td>
            <td>
              <h4><%= item %></h4>
              <br>
              <p><%= item %></p>
            </td>
            <td>
              <%= item %>
            </td>
            <td class="td-price">
              <%= item %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">
            TOTAL:
          </th>
          <th class="td-price">
            <%= @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  </body>
</html>
